.TituloLinea {
    display: flex;
    align-items: baseline;
}
.TituloLinea__titulo {
    color: #1b75bb;
    white-space: nowrap;
    font-size: 1.2rem;
}

.TituloLinea__titulo--wrap {
    color: #1b75bb;
    white-space: normal;
    font-size: 1.2rem;
}
.TituloLinea span {
    width: 100%;
    background: #9ad82e;
    height: 2px;
}
