.whapptrip{
    position: relative;
}

.whapptrip img {
    object-fit: cover;
    max-width: 100%;
    height: 400px;
    object-position: 100% 0;
    border-radius: 1rem;
}

.whapptrip a{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: white;
    background: #9ad82e;
    display: inline-block;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1.3rem;
}

@media (min-width:500px){
    .whapptrip img {
        height: 544px;
    }
}