.whapptrip{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    
}
.whapptrip .contenedor{
    background: #eda0a8;
    border-radius: 1rem;
}

.whapptrip .contenedor ul{
    padding-top: 31px;
    display: block;
    margin-left: 40px
}

.whapptrip .contenedor .background{
    background: url('./wapptrip.jpg');
    background-repeat: no-repeat;
    background-position: 90% 100%;
    height: 426px;
    background-size: contain;
    position: relative;
}

.whapptrip .contenedor ul{
    color: #1b75bb;
    list-style-type: disclosure-closed;
}

.whapptrip .contenedor a{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: white;
    background: #9ad82e;
    display: inline-block;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
}