.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header .header__logo {
    width: 250px;
    display: block;
}

.header .header__back {
    width: 22px;
    display: block;
}
